//// COLORS
$font: black;
$fontContra: white;
$heading: black;

$shadow: #999999;

$button: white;
$buttonBorder: #06D6A0;

$fontDominant: #06D6A0;

$dominant: #06D6A0;
$dominantDark: #04966f;
$dominantUltra: #01533d;

$dominantRebel: fuchsia;

$dominantAccent: #3BCEAC;

$glow: #3BCEAC;

$glowUltra: #06D6A0;
$glowDark: #0c775c;

$inactive: grey;



//// FONTS
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

//// END FONTS

html {
  scroll-behavior: smooth;
  height: 100%;

  * {
    outline-style: none !important;
  }
}

body {
  //// TYPOGRAPHY
  font-family: 'Satoshi', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;

  @media screen and (min-width: 769px) {
    font-size: 20px;
    line-height: 38px;
  }

  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: $font;

  * {
    box-sizing: border-box;
  }

  strong {
    font-weight: 700;
  }

  button,
  .button,
  .wp-block-button {
    font-family: 'Satoshi', sans-serif;
    font-weight: 700;
  }

  button {
    border: none;
  }

  h1,
  h2,
  h3 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
    color: $heading;

    >span {
      color: $font;
    }
  }

  h4,
  h5,
  h6 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    color: $heading;

    >span {
      color: $font;
    }
  }

  h1 {
    font-size: 44px;
    line-height: 64px;
    margin-bottom: 32px;
    margin-top: 64px;

    @media screen and (min-width: 769px) {
      font-size: 60px;
      line-height: 76px;
      margin-bottom: 38px;
      margin-top: 76px;
    }
  }

  h2 {
    font-size: 38px;
    line-height: 64px;
    margin-bottom: 32px;
    margin-top: 64px;

    @media screen and (min-width: 769px) {
      font-size: 50px;
      line-height: 76px;
      margin-bottom: 38px;
      margin-top: 76px;
    }
  }

  h3 {
    font-size: 34px;
    line-height: 64px;
    margin-bottom: 32px;
    margin-top: 64px;

    @media screen and (min-width: 769px) {
      font-size: 40px;
      line-height: 76px;
      margin-bottom: 38px;
      margin-top: 76px;
    }
  }

  h4 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 32px;
    margin-top: 64px;

    @media screen and (min-width: 769px) {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 38px;
      margin-top: 76px;
    }
  }

  h5 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 48px;
    margin-top: 64px;

    @media screen and (min-width: 769px) {
      font-size: 22px;
      line-height: 38px;
      margin-bottom: 76px;
      margin-top: 76px;
    }
  }

  li {
    font-size: 18px;
    line-height: 32px;

    @media screen and (min-width: 769px) {
      font-size: 20px;
      line-height: 38px;
    }
  }

  span.notLinked {
    cursor: default;
  }

  a {
    text-decoration: underline;
    color: $font;
    font-weight: 600;
  }

  figure {
    margin: unset;
    padding: unset;

    img {
      box-shadow: 0 0 15px rgba($shadow, 33%);
    }
  }

  img {
    max-width: 100%;
    object-fit: contain;
    display: block;
  }

  svg {
    display: block;
  }

  .page-content {
    img {
      margin-top: 32px;
      margin-bottom: 32px;

      @media screen and (min-width: 1024px) {
        margin-top: 38px;
        margin-bottom: 38px;
      }
    }
  }

  //// REMOVE EMPTY HTML TAGS
  p:empty,
  h1:empty,
  h2:empty,
  h3:empty,
  h4:empty,
  h5:empty,
  h6:empty {
    display: none;
  }

  //// BORDER RADIUS
  canvas {
    border-radius: 9px;
  }

  img {
    border-radius: 9px;
  }

  iframe {
    border-radius: 9px;
  }

  video {
    border-radius: 9px;
  }
}

.bold {
  font-weight: 700;
}

.font300 {
  font-weight: 300;
}

.font400 {
  font-weight: 300;
}

.font700 {
  font-weight: 700;
}

.font900 {
  font-weight: 900;
}

//// CONTAINER
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  overflow-x: hidden;

  @media screen and (min-width: 769px) {
    width: 100%;
    max-width: 1600px;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: auto;
    margin-right: auto;
  }
}

//// 
.closeGlobalMenu,
.closePopup {
  position: fixed;
  z-index: 600;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer; ////    ??????????
  background-color: transparent;
}

/////
input[type="text"],
input[type="password"] {
  width: 100%;
  border: 1px solid $dominant;
  padding: 5px 10px;
  border-radius: 10px;
  color: $dominantUltra;
  font-size: 15px;
  letter-spacing: 0.7px;
  margin-top: 15px;
}

////
.error {
  text-align: left;
  font-size: 16px;
  line-height: 1.6rem;

  strong {
    color: adjust-hue($dominantRebel, 60deg);
  }
}

////
.flexButton {
  display: flex !important;
  justify-content: center;
  align-items: center;

  >*:first-child {
    margin-left: 15px;
  }
}

/////
.logoWrap,
.dvDoll,
.dvText,
.dvStick {
  transition: all 355ms ease;
}

.logoWrap {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: 100px;
  line-height: 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    left: -50%;
    height: 7px;
    width: 200%;
    background-color: rgba(white, 0);
    z-index: -1;
    border-radius: 50%;
    transition: 300ms ease;
  }

  &.panelChanged.listView {
    fill: rgb(213, 213, 213);
    box-shadow: 0 0 50px 1px rgba($glow, 34%);
    // box-shadow: 0 0 50px 1px rgba($dominantRebel, 34%);
    border-radius: 50%;

    &:before {
      // box-shadow: 0 0 23px 1px rgba($dominant, 22%);
      box-shadow: 0 0 23px 1px rgba($dominantRebel, 22%);
      background-color: rgba(white, 1);
    }

    // .dvText {
    //   fill: rgba($dominant, 66%);
    // }

    .dvStick {
      opacity: .7;
    }
  }

  &.panelChanged.postView {
    box-shadow: 0 0 50px 1px rgba($dominantRebel, 33%);
    border-radius: 50%;

    &:before {
      box-shadow: 0 0 23px 1px rgba($glow, 33%);
      background-color: rgba(white, 1);
    }

    .dvText {
      fill: rgb(66, 66, 66);
    }

    .dvDoll {
      fill: rgba($glow, 77%);
    }

    .dvStick {
      fill: rgb(255, 255, 255);
    }

  }

  &.listView {
    fill: $glow;

    // .dvText {}
    // .dvDoll {}
  }

  &.postView {
    fill: $dominant;

    // .dvText {}
    // .dvDoll {}
  }
}

////  LOADING PLACEHOLDER ////
.loadingPlaceholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 385px);

  .text {
    font-size: 23px;
    font-weight: 700;
  }
}

.panel {
  .loadingPlaceholder {
    min-height: 80px;
    flex-direction: row;
    overflow: hidden;

    &.loadingDone {
      animation: hidePlaceholder 5555ms linear forwards;
    }
  }
}


button,
.cta2 {
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

button {
  background-color: $button;
  border-radius: 15px;
  padding: 10px;
}


////  CATEGORY LIST
.filtersWrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px;

  >div {
    margin-right: 20px;
    flex-basis: calc(25% - 60px);

    &:last-child {
      margin-right: 0;
    }
  }

  @media(max-width: 1180px) {
    flex-wrap: wrap;

    >div {
      flex-basis: calc(50% - 20px);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  @media(max-width: 720px) {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;

    >div {
      flex-basis: 100%;
      margin-right: 0;
    }
  }

  .filters {
    position: relative;

    .choiceType {
      color: rgb(24, 24, 24);
    }

    .taxonomyName {
      text-transform: uppercase;
    }


    .mobileShowHide {
      width: 100%;

      button {
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        line-height: 26px;
        background: transparent;

        svg {
          margin: 0 2px 5px auto;
          transition: all 288ms ease;
        }
      }

      @media(min-width: 771px) {
        display: none;
      }
    }

    @media(max-width: 770px) {

      &.hide {
        min-height: 50px;
        margin-bottom: 20px;

        .defaultShow {
          position: absolute;
          top: 8px;
        }

        .mobileShowHide {
          top: 0px
        }

        .defaultHide {
          height: 0;
          max-height: 0;
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 0;
          overflow: hidden;
        }
      }

      &.show {
        .defaultHide {
          height: auto;
          max-height: 1500px;
        }

        .mobileShowHide {
          position: absolute;
          z-index: 100;
          top: 24px;

          svg {
            color: $glowDark;
            transform: rotate(180deg);
          }
        }
      }

    }


    ul.categoriesList {
      transition: max-height 444ms ease;
      display: flex;
      flex-direction: column;
      padding: 8px 0;
      margin: 0 0 15px 0;
      position: relative;
      overflow: hidden;
      max-height: 1500px;
      transition: max-height 888ms linear;

      &.tax-productTypes {
        max-height: 1000px;
        transition: max-height 555ms linear;
      }

      li.category {
        box-sizing: border-box;
        position: relative;
        padding-left: 20px;
        padding-bottom: 6px;
        margin-bottom: 6px;
        border-radius: 15px;
        transition: color 222ms ease-out, box-shadow 88ms ease-out, transform 400ms ease-in-out, opacity 100ms ease-in, background-color 1666ms linear;
        cursor: pointer;

        &:first-child {
          margin-top: 10px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 5px;

        svg.xtimes {
          margin-top: 5px;
          margin-right: 1px;
        }

        &::before {
          content: '';
          position: absolute;
          left: 5px;
          top: 17px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          transition: background-color 188ms ease-out, box-shadow 288ms ease-out, top 200ms, left 200ms;
          transition-delay: 33ms;
          background-color: rgba($dominant, 66%);
          box-shadow: 0 0px 4px 1px rgba($dominant, 33%);
        }

        @media (hover: hover) {
          &:hover {
            color: $glowDark;
            box-shadow: -1px -3px 5px 1px rgba($shadow, 33%) inset;

            &::before {
              background-color: rgba($glow, 100%);
              box-shadow: 0 1px 3px 1px rgba($glow, 0%);
            }
          }
        }

        &.active {
          z-index: 10;
          // padding: 3px 5px 5px 20px;           ///// ?!?!?!?!?
          text-decoration: underline;
          text-decoration-color: rgba($glow, 66%);
          text-decoration-thickness: 2px;
          background-color: rgba($glow, 3%);
          box-shadow: -1px -3px 8px 1px rgba($glow, 33%) inset;

          &::before {
            // background-color: rgba(255, 255, 255, 0.9);
            background-color: rgba(255, 255, 255, 0); ///// ?!?!?!?!?
            // box-shadow: 0 1px 5px 1px rgba(136, 255, 0, 0.9);
            box-shadow: 0 1px 5px 1px rgba(136, 255, 0, 0); ///// ?!?!?!?!?
          }

          @media (hover: hover) {
            &:hover {
              color: $glowDark !important;
              text-decoration-color: rgba($glow, 77%);
              box-shadow: -1px -3px 8px 1px rgba($shadow, 66%) inset;

              &::before {
                background-color: rgba($shadow, 33%);
              }
            }
          }
        }



        &.inactiveMulti {
          display: none;
        }

        @media (hover: hover) {
          &.inactiveMulti {
            display: flex !important;
          }
        }



        &.inactive {
          background-color: $inactive;
          color: $fontContra;
          // pointer-events: none;
          cursor: not-allowed;
          text-decoration: line-through;

          &::before {
            top: 18px;
            left: 7px;
            background-color: $shadow;
            box-shadow: 0 1px 5px 1px rgba($shadow, 33%);
          }

          &::after {
            content: '';
            color: $fontContra;
            padding-right: 9px;
            text-align: right;
            font-size: 12px;
            position: absolute;
            right: 0px;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($inactive, 0%);
          }
        }

      }

      &.sealed {
        max-height: 80px;

        li.category {
          color: $inactive;

          &:not(.active) {
            transform: translateX(-400px);
            opacity: 0.33;
          }

          &::before {
            background-color: $dominantAccent;
            box-shadow: 0 1px 5px 1px rgba($dominantAccent, 55%);
          }

          &.active {
            color: black;
            position: absolute;
            // width: 98%;
            width: 100%;
            animation: activateFilter 300ms linear forwards;

            @media (hover: hover) {
              &:hover {
                color: $glowDark;
              }
            }

            &::before {
              background-color: rgba($dominant, 0%);
              box-shadow: 0 1px 5px 1px rgba($shadow, 0%);
            }
          }

          @media (hover: hover) {
            &:not(.active):hover {
              box-shadow: none;
              color: $inactive;
              cursor: default;

              &::before {
                background-color: $dominantAccent;
                box-shadow: 0 1px 5px 1px rgba($dominantAccent, 55%);
              }
            }
          }

        }
      }

    }

  }

}

//  SWITCH
.listViewSwitch {
  transition: all 188ms ease-out;
  background-color: $button;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
  padding: 6px 12px;
  margin-right: 20px;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  span.switchIcon {

    display: flex;
    align-items: center;
    width: 60px;
    height: 22px;
    border-radius: 11px;

    border: 2px solid $dominant;
    margin: auto 10px;
    transition: all 188ms ease-out;

    .ball {
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      background-color: $dominant;
      margin: 2px;
      transition: all 188ms ease-out;
    }

    &.post {
      .ball {
        margin-left: 35px;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: rgba($glow, 77%);

      span {
        color: $fontContra;
      }

      span.switchIcon {
        border: 2px solid $fontContra !important;

        .ball {
          background-color: $fontContra !important;
        }
      }
    }
  }
}

////  PROJECTS LIST
.appWrap {
  position: relative;
  padding-top: 128px;

  @media (max-width: 550px) {
    padding-top: 217px;
  }

  .uiFixed {
    position: fixed;
    top: 0;
    z-index: 500;

    width: 100%;
    max-width: 1420px;
    padding: 12px 0;

    background-color: white;
    border-bottom: 4px solid $glow;

    display: flex;

    @media (max-width: 550px) {
      flex-direction: column;
    }


    @media (max-width: 1600px) {
      max-width: calc(100vw - 197px);
    }

    @media (max-width: 768px) {
      max-width: calc(100vw - 32px);

      @media (hover: hover) {
        max-width: calc(100vw - 49px);
      }

    }




    .buttonsWrap {
      width: 100%;
      max-width: 460px;

      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      @media (max-width: 550px) {
        margin-top: 20px;
        margin-bottom: 28px;
        // justify-content: space-between;
      }



      position: relative;


      .globalMenuSwitch {
        padding: 6px 15px 7px;
        border: 2px solid $glow;

        display: flex;
        transition: all 199ms ease-out;

        .arrow {
          margin-left: 10px;
          transform: rotate(180deg);
          transition: transform 244ms ease-out, color 199ms ease;
        }

        &.open {
          .arrow {
            transform: rotate(0deg);
          }
        }

        @media (hover: hover) {
          &:hover {
            background-color: rgba($glow, 77%);
            color: $fontContra;

            .arrow {
              fill: $fontContra;
            }
          }
        }
      }



      .globalMenu {
        overflow: hidden;
        position: absolute;
        top: 55px;
        right: 0;
        z-index: 700;

        width: 268px;

        border-radius: 0 0 15px 15px;

        padding: 25px 10px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;

        text-align: center;

        border: 2px solid $dominant;
        background-color: $fontContra;
        // background-color: rgba($glow, 33%);    // SICK MODE :-D

        box-shadow: -1px 2px 13px 1px rgba($shadow, 13%), -1px 8px 23px 0 rgba($dominantRebel, 8%);

        >div {
          border-top: 2px solid $dominant;
          margin: 10px 0;

          &:first-child {
            margin-top: 0;
            border-top: none;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &.open {
          border: 2px solid $fontContra;
          overflow: visible;

          &::before {
            content: '';
            position: absolute;
            width: 268px;
            height: 16px;
            top: -16px;
            right: -2px;
            background-color: $fontContra;
            border-bottom: 3px solid rgba($dominant, 77%);
          }
        }


        transition: all 235ms ease;

        &.closed {
          height: 0;
          padding: 0 10px;
          box-shadow: 0px 0px 9px 0 rgba($shadow, 0%);
        }


        button {
          display: block;
          width: 100%;
          margin: 16px 0;
          border: 2px solid $dominant;
          padding: 5px 10px;
          background-color: $dominant;
          color: $fontContra;
          text-transform: capitalize;

          transition: all 166ms ease;

          @media (hover: hover) {
            &:hover {
              background-color: $fontContra;
              color: $font;
            }
          }

        }

        .loginWrapper {
          padding-top: 10px;

          .dvDoll {
            display: inline-block;
            width: 60px;
            margin-right: 8px;
            margin-bottom: -22px;
            fill: $dominant;
          }
        }

      }
    }

    &.listView {

      .globalMenuSwitch,
      .listViewSwitch {
        border: 2px solid rgba($glow, 88%);
        color: $glow;

        span.switchIcon {
          border: 2px solid $glow;

          .ball {
            background-color: $glow;
          }
        }

        .arrow {
          fill: $glow;
        }
      }
    }

    &.postView {
      max-width: 660px;
      border-bottom: 4px solid $dominant;

      @media(max-width: 840px) {
        max-width: calc(100vw - 197px);
      }

      @media(max-width: 768px) {
        max-width: 660px;
      }

      @media(max-width: 708px) {
        max-width: calc(100vw - 32px);

        @media (hover: hover) {
          max-width: calc(100vw - 49px);
        }
      }

      .globalMenuSwitch,
      .listViewSwitch {
        border: 2px solid rgba($dominant, 88%);
        color: $dominant;

        .arrow {
          fill: $dominant;
        }
      }
    }

  }



  // .theList {
  //   &.listView {

  //     @media(min-width: 1280px) {
  //       display: flex;

  //       >div:first-child {
  //         min-width: 320px;
  //         max-width: 320px;
  //         // flex-basis: 30%;

  //         .filtersWrapper {
  //           flex-direction: column;
  //         }
  //       }
  //     }

  //   }
  // }


  .fixedList {
    width: 100%;
  }

  .pagination {

    display: flex;
    justify-content: center;
    padding: 0 10px;


    &.firstRow {
      padding-top: 12px;

      &.bottom {
        border-top: 3px solid $shadow;
      }
    }

    &.secondRow {
      &.bottom {
        border-bottom: 3px solid $glow;
      }

      &:not(.bottom) {
        border-bottom: 3px solid $shadow;
      }
    }

    h6 {
      padding-left: 10px;
      padding-right: 10px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
      line-height: 60px;
      margin: 0;

      span {
        padding-left: 5px;
        font-weight: 700;
      }

      .svgDisplay {
        display: inline-block;
      }
    }

    button {
      line-height: 0.8;

      svg {
        transition: all 177ms ease;
      }

      @media (hover: hover) {
        &:hover {
          svg {
            fill: rgba($glow, 100%);
          }
        }
      }
    }

    &.secondRow {
      padding-bottom: 28px;
      text-transform: capitalize;

      button {
        font-size: 15px;
        line-height: normal;
        transition: color 177ms ease;
        border-radius: 0;

        &.active {
          color: $glow;
          border-bottom: 2px solid $glow;
        }

        @media (hover: hover) {
          &:hover {
            color: $glow;
          }
        }
      }

      @media(max-width:520px) {
        flex-wrap: wrap;

        span {
          flex-basis: 100%;
          text-align: center;
        }
      }
    }

    @media(max-width:358px) {
      padding: 0 5px;

      h6 {
        font-size: 15px;
      }
    }
  }

  ul.list {
    list-style: none;
    margin: 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .listItem {
      font-weight: bold;
      font-size: 18px;
      padding: 36px 30px;
      border-radius: 9px;

      flex-basis: 33%;

      button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        h4 {
          font-size: 18px;
          line-height: 26px;
          margin-top: 0;
          width: fit-content;
          border-bottom: rgba($glow, 88%) 1px solid;
        }

        >img,
        svg {
          margin-right: 30px;
          margin-bottom: 10px;
          max-width: 150px;
          max-height: 80px;
          align-self: flex-start;
        }

        >div {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          flex-wrap: wrap;

          img,
          svg {
            max-width: 88px;
            max-height: 30px;
            line-height: 0;
            margin: 0 20px 0 0;
            border-radius: 0;
          }

          >* {
            margin-top: 12px !important;
          }

          .language {
            max-width: 40px;
          }
        }

        transition: all 144ms ease-out;

        @media (hover: hover) {
          filter: grayscale(1);

          &:hover {
            filter: grayscale(0);
          }
        }
      }

      transition: all 177ms ease-in;

      @media (hover: hover) {
        &:hover {
          box-shadow: 0 1px 23px 1px rgba($glow, 22%),
            -1px -1px 2px 1px rgba($glow, 34%)inset;
        }
      }


    }

    @media(max-width:1180px) {
      .listItem {
        flex-basis: 50%;
      }
    }

    @media(max-width:590px) {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: flex-start;

      .listItem {
        flex-basis: 100%;
      }
    }

    @media(max-width:490px) {
      .listItem {
        padding: 36px 10px;
      }
    }

  }

  .animatedBackground {
    background-image: linear-gradient(to bottom right, rgba($dominantDark, 0%), rgba($dominantDark, 0%), rgba($dominantDark, 8%), rgba($dominant, 28%));

    @media(max-width:500px) {
      background-image: linear-gradient(to bottom right, rgba($dominantDark, 0%), rgba($dominantDark, 0%), rgba($dominantDark, 4%), rgba($dominant, 23%));
    }

    box-shadow: 66px 99px 88px 13px rgba(white, 100%) inset,
    188px 111px 166px 1px rgba(white, 66%) inset;


    ////      !! REVERSE LIST VIEW COLORS !!
    &.listView {
      box-shadow: 188px 166px 99px 33px rgba(white, 100%) inset,
        488px 366px 166px 3px rgba(white, 77%) inset;

      background-image: linear-gradient(to bottom right, rgba($glow, 0%), rgba($glow, 3%), rgba($dominantDark, 6%), rgba($glow, 23%));

      @media(max-width: 500px) {
        box-shadow: 113px 188px 88px 13px rgba(white, 100%) inset,
          333px 288px 166px 1px rgba(white, 77%) inset;

        background-image: linear-gradient(101deg, rgba($dominantDark, 0%), rgba($glow, 3%), rgba($dominantDark, 9%), rgba($glow, 44%));
      }
    }

    background-color: rgba($glow, 0%);
    transition: background-color 4333ms ease-out;

    &.backgroundChange {
      background-color: rgba($dominantRebel, 23%);

      ////      !! REVERSE LIST VIEW COLORS !!
      &.listView {
        background-color: rgba($dominantRebel, 22%);

        @media(max-width: 500px) {
          background-color: rgba($dominantRebel, 34%);
        }
      }
    }
  }

  .changable {
    animation: changable 366ms ease-out;
  }

  // SINGLE PROJECT VIEW:
  .pageContext {
    width: 100%;
    max-width: 660px;
    min-height: 400px;

    section {
      margin-bottom: 30px;

      &.tabs {
        border-radius: 9px;
      }
    }

    h1 {
      font-size: 32px;
      line-height: 40px;
      margin: 40px auto;
    }

    h4 {
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      margin: 20px 0;
    }


    .icons {
      display: flex;
      flex-direction: column;

      h5 {
        line-height: 1;
        font-weight: 300;
        margin: 0;

        span {
          font-weight: 700;
          text-decoration: underline rgba($dominant, 33%);
          margin-left: 3px;
          letter-spacing: 1px;
        }

        @media(max-width: 360px) {
          font-size: 16px;

          span {
            font-size: 18px;
          }
        }
      }

      >div {
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;
        margin-bottom: 20px;

        &:not(.technologies) {
          max-height: 52px;
        }

        @media (max-width: 500px) {
          justify-content: space-between;
        }
      }

      .technologies {
        padding-top: 20px;
        margin-bottom: 0;
      }

      img,
      svg {
        margin-right: 10px;
        margin-left: auto;
        max-width: 120px;
        max-height: 48px;
        min-height: 32px;
        border-radius: 0;

        &.technology {
          margin-left: 15px;

          &:first-child {
            margin-left: 0;
          }
        }

        &.language {
          max-width: 32px;
        }
      }
    }

    .tabButtons {
      border-top: $dominant 1px solid;
      padding-top: 10px;

      .tabButton {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        margin-right: 12px;
        padding: 9px 20px 10px;
        border-radius: 0 0 9px 9px;
        border: rgba($shadow, 66%) 1px solid;
        border-top: $dominant 3px solid;
        transition: all 233ms ease-out;
        position: relative;

        &:first-child {
          margin-left: 3px;
        }

        &::before {
          content: '';
          position: absolute;
          width: 120%;
          height: 105%;
          top: 5px;
          left: 5px;
          box-shadow: 10px 20px 111px 4px rgba($glow, 34%);
          opacity: 0;
        }

        &::after {
          content: '';
          position: absolute;
          width: 180%;
          height: 20%;
          top: 20px;
          left: 10px;
          box-shadow: 66px 44px 44px 1px rgba($dominant, 23%);
          opacity: 0;
        }

        @media (hover: hover) {
          &:hover {
            background-color: $dominant;
            color: $fontContra;
            box-shadow: 0 1px 11px 1px rgba($glow, 34%);
          }
        }

        &.active {
          transform: scale(1.05);
          background-color: $dominant;
          color: $fontContra;

          &::before {
            animation: glowSplash 1333ms ease-out forwards;
          }

          &::after {
            animation: glowSplash2 999ms ease-out forwards;
          }
        }

        @media(max-width: 440px) {
          font-size: 12px;
          padding: 8px 12px;

          &:last-child {
            margin-right: 0;
          }
        }

        @media(max-width:380px) {
          font-size: 11px;
          padding: 8px 10px;
          margin-right: 8px;
        }

        @media(max-width:358px) {
          padding: 8px 6px;
        }
      }

      @media(max-width: 440px) {
        display: flex;
        justify-content: space-between;
      }
    }

    .customData {
      display: flex;
      flex-direction: column;

      >div {
        padding-right: 6px;
      }

      &.customDataWrap {
        border-bottom: $dominant 1px solid;
        padding-bottom: 2px;

        &.content {
          padding-bottom: 12px;
        }
      }

      position:relative;

      button.editAcf {
        position: absolute;
        right: 4px;
        top: 4px;
        padding: 4px;

        font-size: 13px;
        background-color: transparent;

        // color: rgba($dominant, 88%);
        color: rgba($font, 55%);
        border: 1px solid rgba($dominant, 0%);
        border-radius: 11px;

        transition: all 155ms ease-out;

        @media(hover:hover) {
          &:hover {
            color: rgba($font, 100%);
            border: 1px solid rgba($dominant, 88%);
          }
        }
      }

      &.contentRendered {
        button.editAcf {
          top: 8px;
          width: 2.5em;
          height: 2.5em;
          font-size: 20px;
        }

        .closeEditor {
          width: 50px;
          height: 50px;
          top: 8px;
        }
      }

      .closeEditor {
        position: absolute;
        top: 3px;
        right: 3px;
        width: 36px;
        height: 36px;
        border: 2px solid $dominant;
        color: $dominant;
        border-radius: 11px;
        padding: 0;
        transition: all 155ms ease;
        background-color: rgba($dominant, 0%);

        svg {
          margin: auto;
        }

        @media(hover:hover) {
          &:hover {
            background-color: $dominant;
            color: $fontContra;
          }
        }
      }

      .edidAcfForm {
        padding-top: 20px;
        padding-bottom: 30px;
        max-width: 440px;

        // border-top: 1px solid rgba($dominant, 33%);

        span {
          display: block;
        }

        button {
          margin: 15px auto 30px auto;
          width: 100%;
          max-width: 220px;
          font-size: 18px;
          line-height: 20px;
          border: 1px solid $dominant;
          color: $dominant;

          transition: all 155ms ease;

          @media(hover:hover) {
            &:hover {
              background-color: $dominant;
              color: $fontContra;
            }
          }
        }

      }

      .denied {
        margin-top: 20px;
      }

      div {
        display: flex;
        justify-content: space-between;
        min-height: 44px;

        &:has(.edidAcfForm) {
          flex-direction: column;
        }

        &:not(.commonData):not(:last-child) {
          border-bottom: rgba($shadow, 23%) 1px solid;
        }

        h5 {
          font-size: 20px;
          margin: 0;
          padding-right: 10px;
        }

        span {
          margin-right: 36px;
        }

        position:relative;

        .bool {
          padding-top: 5px;
          padding-bottom: 3px;
          color: $dominantRebel;

          &.true {
            color: $dominant;
          }
        }

        @media(max-width:440px) {
          h5 {
            font-size: 15px;
            padding-right: 6px;
          }

          span {
            font-size: 15px;
          }
        }

        @media(max-width:386px) {
          display: flex;
          flex-direction: column;

          h5 {
            font-size: 15px;
            padding-right: 6px;
          }

          span {
            font-size: 15px;
          }
        }
      }
    }

    .date {
      display: flex;
      background-color: rgba($dominant, 23%);
      padding: 5px 10px;
      border-radius: 0 0 9px 9px;
      margin-bottom: 30px;

      .svgDisplay {
        transform: scale(0.66);
        margin-left: -10px;

        &.twoDigits {
          margin-left: -18px;
        }

        .xDigits {
          min-width: unset;
        }
      }
    }

    .tags {
      line-height: 24px;

      span {
        font-size: 12px;
        padding-right: 10px;
      }
    }

  }

}

// footer {
//   &.postView {
//     .container {
//       width: 100%;
//       max-width: 660px;
//       padding: 0;
//       margin: 0 auto;

//       @media(max-width: 840px) {
//         max-width: calc(100vw - 197px);
//       }

//       @media(max-width: 768px) {
//         max-width: 660px;
//       }

//       @media(max-width: 708px) {
//         max-width: calc(100vw - 32px);

//         @media (hover: hover) {
//           max-width: calc(100vw - 49px);
//         }
//       }
//     }
//   }
// }

@keyframes activateFilter {
  0% {
    top: unset;
  }

  20% {
    top: 100px;
  }

  100% {
    top: 15px;
  }
}

@keyframes changable {
  0% {
    color: rgba($font, 13%);
  }

  33% {
    color: rgba($font, 23%);
  }

  44% {
    color: rgba($font, 33%);
  }

  66% {
    color: rgba($font, 55%);
  }

  100% {
    color: $font;
  }
}

@keyframes glowSplash {
  0% {
    opacity: 0;
  }

  20% {
    opacity: .3;
  }

  60% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes glowSplash2 {
  0% {
    opacity: 0;
    transform: translate(0px, 0px);
  }

  13% {
    opacity: .3;
    transform: translate(10px, 13px);
  }

  33% {
    opacity: .9;
    transform: translate(15px, 20px);
  }

  55% {
    opacity: .6;
    transform: translate(20px, 30px);
  }

  66% {
    opacity: .2;
    transform: translate(5px, 10px);
  }

  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
}

@keyframes hidePlaceholder {
  0% {
    color: rgba(black, 100%);
  }

  55% {
    color: rgba($glowDark, 100%);
  }

  77% {
    color: rgba($glowDark, 23%);
    min-height: 80px;
  }

  100% {
    color: rgba($glowDark, 0%);
    min-height: 0;
    height: 0;
  }
}




//////////////////////////////////
//////////////////////////////////
//////////////////////////////////
/// DIGITAL DIGIT DISPLAY

.count {
  display: flex;
  align-items: flex-start;
  font-size: 33px;
  background-color: $glow;
  color: $fontContra;
  font-weight: bold;
  // border-radius: 0 9px 0 9px;
  border-radius: 0 0 9px 9px;
  padding: 9px 6px;
  position: relative;
  z-index: 100;
  margin-bottom: 20px;
  min-height: 158px;
  flex-wrap: wrap;

  span.clearAllwrapp,
  span.desc {
    width: 100%;
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;

    button {
      max-width: 240px;
      color: $font;
      font-size: 18px;
      border: none;
      outline: none;
      padding: 5px 20px;
      line-height: 1.25;
      transition: color 155ms linear;

      &:hover {
        color: $glow;
      }
    }
  }

  .selectedCatName {
    font-size: 18px;
    line-height: 30px;
    padding: 0 13px;
    margin: 5px;
    border-radius: 15px;
    border: 1px solid rgba($fontContra, 66%);
    background-color: transparent;
    transition: all 123ms ease;
    color: $fontContra;

    &.firstChild {
      margin-left: 0px;
    }

    @media(hover:hover) {
      &:hover {
        background-color: white;
        color: $glow;

        .remove {
          color: rgba($font, 55%);
        }
      }
    }

    .remove {
      color: rgba($fontContra, 66%);
      font-weight: 300;
      margin-left: 7px;
      margin-bottom: 5px;
    }
  }

  @media(max-width:480px) {
    font-size: 21px;
  }

  @media(max-width:350px) {
    font-size: 17px;
  }
}

.svgDisplay {
  width: min-content;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid rgb($fontContra, 0.34);
  border-radius: 9px;
  background-color: $glowUltra;

  transition: background-color 235ms ease-out;

  &.counting {
    background-color: rgba($dominantRebel, 23%);
  }
}

.pageContext section .count {
  background-color: $dominant;
}

.pageContext section .svgDisplay {
  background-color: $dominantDark;
}

.xDigits {
  display: flex;
  justify-content: flex-end;
  width: min-content;
  min-width: 45px;
  line-height: 0;

  @media(max-width:480px) {
    min-width: 36px;
  }

  @media(max-width:350px) {
    min-width: 36px;
  }
}

.digit {
  width: 17px;

  @media(max-width:480px) {
    width: 12px;
  }

  @media(max-width:350px) {
    width: 12px;
  }
}

.digitSvg g {
  fill: $fontContra;
  transition: opacity 266ms ease, fill 303ms ease-out;
}