.count {
  display: flex;
  align-items: flex-start;
  font-size: 33px;
  background-color: #3BCEAC;
  color: white;
  font-weight: bold;
  border-radius: 0 9px 0 9px;
  padding: 9px 6px;
  position: sticky;
  z-index: 100;
  top: 44px;
  /* top: 144px; */
  margin-bottom: 20px;
  min-height: 120px;
  flex-wrap: wrap;
}

.count .desc {
  font-size: 24px;
}

.count span:last-child {
  width: 100%;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.count span:last-child button {
  max-width: 240px;
  color: black;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 5px 20px;
  line-height: 1.25;
  transition: color 155ms linear;
}

.count span:last-child button:hover {
  color: #3BCEAC;
}

.svgDisplay {
  width: min-content;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid rgb(255, 255, 255, 0.34);
  border-radius: 9px;
  background-color: #3bceac9c;
}

.pageContext section .count {
  background-color: rgb(255, 75, 255);
}

.pageContext section .svgDisplay {
  background-color: rgba(255, 0, 255, 0.6);
}

.xDigits {
  display: flex;
  justify-content: flex-end;
  width: min-content;
  min-width: 45px;
}

.digit {
  width: 17px;
}

.digitSvg g {
  fill: white;
  transition: opacity 288ms ease-out, fill 344ms ease;
}

@media(max-width:480px) {
  .count {
    font-size: 21px;
  }

  .xDigits {
    min-width: 36px;
  }

  .digit {
    width: 12px;
  }
}

@media(max-width:350px) {
  .count {
    font-size: 17px;
  }

  .xDigits {
    min-width: 36px;
  }

  .digit {
    width: 12px;
  }
}